.check_form{
    position: relative;
    text-align: center;
    width: 60px;
}

.check_form h1{
    font-size: 10px;
}

.check_form input{
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    opacity: 0;
}
.check_form label{
    position: relative;
    display: inline-block;
    overflow: hidden;
    width : 36px;
    height: 21px;
    border-radius: 10px;
    background-color: #666;
    color : transparent;
    /* 색을 투명하게 */
}

.check_form label:before{
    position: absolute;
    content:"";
    left:1px;
    top:1px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #fff;
}

.check_form input:checked + label{
    background-color: #0563bb;
}

.check_form input:checked + label:before{
    left: auto;
    /* before에 left 좌표가 설정이 되있기 때문 */
    right: 1px;
}
